{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "relay",
    "transform-object-assign",
    "transform-decorators-legacy",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "share": "share"
      }
    }]
  ]
}
